{% extends "index.html" %}
{% block content %}
<main tabindex="0" id="content">
  <div class="container main-area" id="main-area">
    <div class="row">
      <div class="col-sm-12 main-content">
          <div class="searchInformation">
              <h1>Fremsøg kurser</h1>
              <div class="col-xs-12 col-sm 8">
                  <p>Velkommen til kursuskataloget for Det Naturvidenskabelige Fakueltet på SDU</p>
              </div>
          </div>
  
      </div>
      <div class="form-horizontal">
          <div class="row">
              <form action="/" method="post" runat="server">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group"> 
                        <label for="termin" class="col-sm-4 control-label">Termin</label>
                        <div class="col-sm-8">
                            <select name="termin" id ="termin"class="form-select form-control">
                                <option value="e2023">Efterår 2023</option>
                                <option value="f2023">Forår 2023</option>
                                <option value="e2022">Efterår 2022</option>
                                <option value="f2022">Forår 2022</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ects" class="col-sm-4 control-label">ECTS</label>
                        <div class="col-sm-8">
                            <input name="ects" id="ects" type="number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="indgangskrav" class="col-sm-4 control-label">Indgangskrav</label>
                        <div class="col-sm-8">
                            <select id="indgangskrav" class="form-select form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eksamen" class="col-sm-4 control-label">Eksamensform</label>
                        <div class="col-sm-8">
                            <select name="eksamen" id="eksamen" class="form-select form-control">
                                <option selected>Vælg eksamensform</option>
                                <option value="Mundtlig eksamen">Mundtlig</option>
                                <option value="Ingen mundtlig eksamen">Skriftlig</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="center-block">
                  <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-2 col-md-10">
                      <div class="form-group">
                          <input name="søg" class="btn btn-primary" type="submit" style="display: inline-block;" value="Søg">
                      </div>
                  </div>
              </div>
              </form>
          </div>
      </div>
      
    </div>
    <div class="content">
<hr class="divider">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Ects</th>
      <th scope="col">Eksamensform</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
        <td><a href="#">{{row[0]}}</a></td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}